let mapleader=" "
map <leader>f <Action>(GotoFile)
map <leader>b <Action>(RecentFiles)
map <leader>c <Action>(SearchEverywhere)
map <leader>/ <Action>(GotoText)
map <leader>ld <Action>(GotoDeclaration)
map <leader>lt <Action>(GotoTypeDeclaration)
map <leader>li <Action>(GotoImplementation)
map <leader>la <Action>(ShowIntentionActions)
map <leader>lr <Action>(ShowUsages)
map <leader>ls <Action>(ShowHoverInfo)
map <leader>lR <Action>(RenameElement)
map <leader>] <Action>(GotoNextError)
map <leader>[ <Action>(GotoNextError)
map gc <Action>(SurroundWith)
set hlsearch
"TODO try out in normal vim
nnoremap <Esc> :nohlsearch<cr>
"TODO add class search

map <Leader>p <Action>(EditorPasteSimple)
map <Leader>y <Action>(CopyAsPlainText)
map <Leader>yy yy<Action>(CopyAsPlainText)
map <Leader>Y  yg_<Action>(CopyAsPlainText)
map <leader>lb <Action>(ToggleLineBreakpoint)

"NewFile NewDir RenameFile
" Map Ctrl+h to move left
nnoremap <C-h> <C-w>h
" Map Ctrl+j to move down
nnoremap <C-j> <C-w>j
" Map Ctrl+k to move up
nnoremap <C-k> <C-w>k
" Map Ctrl+l to move right
nnoremap <C-l> <C-w>l
nnoremap <C-w>q <C-w>c
" C-w c
