let mapleader=" "
:map <leader>f <Action>(SearchEverywhere)
:map <leader>la <Action>(ShowIntentionActions)
:map <Leader>p <Action>(EditorPasteSimple)
:map <Leader>y <Action>(CopyAsPlainText)
:map <Leader>yy yy<Action>(CopyAsPlainText)
:map <Leader>Y  yg_<Action>(CopyAsPlainText)
:map <leader>lb <Action>(ToggleLineBreakpoint)
